{% extends 'base.html' %}

{% block meta %}
<title>Tambah Task Baru</title>
{% endblock meta %}

{% block content %}
<nav class="navbar" style="background-color: #90ee90;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Lets do our tasks!!</span>
    </div>
</nav>

<div class = "create_task" style="text-align:center">
    
    <h1>Tambah Task Baru</h1>  

        <form method="POST" id="postform">  
            {% csrf_token %}  
            <table class="table solid border w-auto" style="text-align:left;margin-right:auto;margin-left:auto;margin-top:25px;">
                {{ form.as_table }}
            </table>
            <input type="submit" name="submit" class="btn btn-primary" value="Tambah Task"/>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}