{% extends 'base.html' %}
{% load static %}
 {% block content %}

<style>

</style>
<nav class="navbar" style="background-color: #90ee90;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Welcome!</span>
    <a class="btn btn-info" href="{% url 'todolist:logout' %}" role="button">Logout</a>
  </div>
</nav>

<h1 class="centeredtext" >To Do Lists: </h1>

  <h5 class="centeredtext">User: </h5>
  <p class="centeredtext">{{user}}</p>
  <header>
  <!-- <a class="btn btn-primary" href="{% url 'todolist:create_task' %}" role="button">Tambah Task</a> -->
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Task
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
  </header>

    {% comment %} Add the data below this line {% endcomment %}
    <div class="card-deck" id="output">
    <!-- {% for x in data_todolist %}
      <div class = "cards" >
        <p>
        <span class="nowrap"><b>Date : </b></span>
        <span class="nowrap">{{x.date}}</span>
        </p>
        <p>
        <span class="nowrap"><b>Title : </b></span>
        <span class="nowrap">{{x.title}}</span>
        </p>
        <p>
        <span class="nowrap"><b>Description : </b></span>
        <span class="nowrap">{{x.description}}</span>
        </p>
        <p>
        <span class="nowrap"><b>Status : </b></span>
        {% if x.is_finished %}
        <span class="nowrap">Selesai</span>
        {% else %}
        <span class="nowrap">Belum Selesai</span>
        {% endif %}
        </p>

        <div class = "buttonwrapper">
        <form method="POST" action="{% url 'todolist:change_status' %}">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{x.id}}"/>
          <td><button type="submit" class="btn btn-warning" >Change Status</button></td>
        </form>
        <form method="POST" action="{% url 'todolist:delete_task' %}">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{x.id}}"/>
          <td><button type="submit" class="btn btn-danger" >Delete</button></td>
        </form>
        </div>

      </div>
    {% endfor %} -->
    </div>
    

  <br></br>

 {% endblock content %}

{% block script %}
    <script src="{% static 'js/todolist.js' %}"></script>
{% endblock %}