{% extends 'base.html' %}

 {% block content %}

<style>
  .cards{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    width: 300px;
    display: inline-block;
  }

  .nowrap {
  white-space: nowrap ;
  font-family: "Comic Sans MS";
  }

  .buttonwrapper{
    display: flex;
  }
</style>

  <h1>Tugas 4 PBP</h1>

  <h5>User: </h5>
  <p>{{user}}</p>

    {% comment %} Add the data below this line {% endcomment %}
    {% for x in data_todolist %}
    <div class = "cards" >
        <p>
        <span class="nowrap"><b>Date : </b></span>
        <span class="nowrap">{{x.date}}</span>
        </p>
        <p>
        <span class="nowrap"><b>Title : </b></span>
        <span class="nowrap">{{x.title}}</span>
        </p>
        <p>
        <span class="nowrap"><b>Description : </b></span>
        <span class="nowrap">{{x.description}}</span>
        </p>
        <p>
        <span class="nowrap"><b>Status : </b></span>
        {% if x.is_finished %}
        <span class="nowrap">Selesai</span>
        {% else %}
        <span class="nowrap">Belum Selesai</span>
        {% endif %}
        </p>
          <div class = "buttonwrapper">
          <form method="POST" action="{% url 'todolist:change_status' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{x.id}}"/>
            <td><button type="submit">Change Status</button></td>
          </form>
          <form method="POST" action="{% url 'todolist:delete_task' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{x.id}}"/>
            <td><button type="submit">Delete</button></td>
          </form>
          </div>

    </div>
    {% endfor %}
    

  <br></br>
  <button><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>


 {% endblock content %}
